:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; /* Hace que el contenedor ocupe el 50% de la altura de la ventana */
    background-color: #0072BB;
  }
  
  .container {
    text-align: center; /* Centra el texto en el contenedor */
  }
  
  .form-select {
    text-align-last: center; /* Centra el texto del selector en la última línea */
    width: 100%; /* Asegura que el selector ocupe todo el ancho del contenedor */
    margin-bottom: 20px; /* Añade un margen inferior para separar el selector de los botones */
  }

  .button-container {
    display: flex;
    flex-direction: column;
    align-items: stretch; /* Hace que los elementos secundarios se estiren para llenar el contenedor */
    gap: 10px;
    min-width: 200px; /* O un ancho mínimo apropiado según tu diseño */
  }
  
  .btn {
    flex: 1; /* Hace que cada botón se estire uniformemente */
    white-space: nowrap; /* Evita que el texto se envuelva */
  }