:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; /* Hace que el contenedor ocupe el 50% de la altura de la ventana */
    background-color: #0072BB;
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
    align-items: stretch; /* Hace que los elementos secundarios se estiren para llenar el contenedor */
    gap: 10px;
    min-width: 200px; /* O un ancho mínimo apropiado según tu diseño */
  }
  
  .btn {
    flex: 1; /* Hace que cada botón se estire uniformemente */
    white-space: nowrap; /* Evita que el texto se envuelva */
  }