<div class="container">
    <p>Debe ingresar para continuar</p>

    <div class="button-container">
        <!-- Selector de opciones -->
        <select class="form-select" (change)="mostrarOpcionSeleccionada($event)">
            <option value="paciente">Paciente</option>
            <option value="profesional">Profesional</option>
            <option value="gerente">Gerente</option>
        </select>
    </div>
    
    <div class="button-container">
        <button class = "btn btn-primary" (click)="ingresar()">INGRESAR</button>
        <button class = "btn btn-primary" (click)="registrarse()">REGISTRARSE</button>
        <button class = "btn btn-primary" (click)="salir()">SALIR</button>
    </div>

</div>




