.contenedorPrincipal {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Asegura que el contenedor principal ocupe toda la altura de la ventana */
  width: 65vh; /*Ocupa el 65% del ancho de la ventana*/
}

.app-ventanaprincipal {
  flex-grow: 1; /* Hace que app-ventanaprincipal ocupe el espacio disponible restante */
  border: 1px solid var(--bordes); /* Añade un borde alrededor de app-ventanaprincipal */
  margin: 10px; /* Margen alrededor de app-ventanaprincipal */
  padding: 20px; /* Relleno interno dentro de app-ventanaprincipal */
}

.app-extra {
  background-color:var(--fondo); /* Color de fondo para el pie de página */
  padding: 10px; /* Relleno interno dentro de app-extra */
  text-align: center; /* Centra el contenido del pie de página */
}