<div class="container">
    <h2>Ingreso como {{ usuarioTipoTexto }}</h2>

    <form>

      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="string" class="form-control" id="nombre" [(ngModel)]="usuario.nombre" required>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="password" [(ngModel)]="usuario.password" required>
      </div>

      <button type="button" class="btn btn-primary" (click)="ingresar()">Ingresar</button>
      
    </form>
  </div>

