    <div class="container">
      <h2>REGISTRO DE NUEVO {{ usuarioTipoTexto }}</h2>
  
      <form>
  
        <div class="mb-3">
          <label for="nombre" class="form-label">Nombre</label>
          <input type="string" class="form-control" [(ngModel)]="this.datosUsuario.nombre" name="nombre">
        </div>

        <div class="mb-3">
          <label for="apellido" class="form-label">Apellido</label>
          <input type="string" class="form-control" [(ngModel)]="this.datosUsuario.apellido" name="apellido">
        </div>

        <div class="mb-3">
          <label for="DNI" class="form-label">DNI</label>
          <input type="number" class="form-control" [(ngModel)]="this.datosUsuario.dni" name="dni">
        </div>

        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" [(ngModel)]="this.datosUsuario.email" name="email">
        </div>
  
        <div class="mb-3">
          <label for="password" class="form-label">Contraseña</label>
          <input type="password" class="form-control" [(ngModel)]="this.datosUsuario.password" name="password">
        </div>
  
        <button type="submit" class="btn btn-primary">Registrarse</button>
        
      </form>
    </div>
